<html><head>
</head>
<style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        h3 {
            margin: 0;
            padding: 20px;
        }

</style>

<body>


        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %} 
                    {% if category == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}

      <form action="{{ url_for('createLogin') }}" method="POST">
         <h3>Create Account:</h3>
	      
         Email:<br>
         <input type ="text" name="email"></input><br>
         Password:<br>
         <input type ="password" name="password1"></input><br>
         Confirm Password:<br>
         <input type ="password" name="password2"></input><br>
         <input type="radio" id="Employee" name="role" value="Employee">
            <label for="Employee">Employee</label><br>
         <input type="radio" id="Customer" name="role" value="Customer">
            <label for="Customer">Customer</label><br>

         <input type="submit" value="Submit"><br>
      </form>
<a href="/">Home</a>
</body></html>
