<html><head></head>
<style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        h3 {
            margin: 0;
            padding: 20px;
        }

</style>

<body>

        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %} 
                    {% if category == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}


      <form action="{{ url_for('login') }}" method="POST">

         <h3>Welcome!</h3>

         Username:<br>
         <input type ="text" name="email"></input><br>
         Password:<br>
         <input type ="password" name="password"></input><br>


         <input type="submit" value="Submit"><br>
              <a href="/">Home</a>
      </form>


        <h3>No account yet? Create one here:</h3>
        <a href="/createLogin">Create Account</a>

</body></html>
