<!-- this is a mess but she was talking about crud stuff so i decided to add an update-->

<html><head>
</head>
<style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        h3 {
            margin: 0;
            padding: 20px;
        }
	h1 {
	    margin: 0;
	    padding: 20px;
	}
        label {
            margin: 5px 0;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
        }


</style>

<body>

    <h1>Cars</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Color</th>
                <th>Mileage</th>
                <th>MPG</th>
                <th>Transmission</th>  
                <th>Fuel Type</th>   
                <th>Body Style</th>      
                <th>Condition</th>                                     
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for car in clist %}
            <tr>
                <td><img src="{{ car.image_url }}" alt="{{ car['Model'] }}"></td>
		<td>{{ forloop.counter }}</td>
                <td>{{ car['Make'] }}</td>
                <td>{{ car['Model'] }}</td>
                <td>{{ car['Year'] }}</td>
                <td>{{ car['Color'] }}</td>
                <td>{{ car['Mileage'] }}</td>
                <td>{{ car['MPG'] }}</td>
                <td>{{ car['Transmission'] }}</td>
                <td>{{ car['Fuel'] }}</td>
                <td>{{ car['Type'] }}</td>
                <td>{{ car['NorU'] }}</td>
                <td>{{ car['Price'] }}</td>
            </tr>
            {% endfor %}
        </tbody>


      <form action="{{ url_for('updateCar') }}" method="POST">
         <h3>Submit Item Number to Update:</h3>

         Item:<br>
         <input type ="number" name = "index"></input><br>



    <h3>Select Car Attribute to Update:</h3>
        <label>
            <input type="radio" name="car_attribute" value="image" required>
            Image
        </label>
        <label>
            <input type="radio" name="car_attribute" value="model">
            Model
        </label>
        <label>
            <input type="radio" name="car_attribute" value="color">
            Color
        </label>
        <label>
            <input type="radio" name="car_attribute" value="manufacturer">
            Manufacturer
        </label>
        <label>
            <input type="radio" name="car_attribute" value="price">
            Price
        </label>
        <label>
            <input type="radio" name="car_attribute" value="type">
            Type
        </label>
        <label>
            <input type="radio" name="car_attribute" value="mileage">
            Mileage
        </label>
        <label>
            <input type="radio" name="car_attribute" value="transmission">
            Transmission
        </label>
        <label>
            <input type="radio" name="car_attribute" value="fuel_type">
            Fuel Type
        </label>


	New Value:<br>
         <input type ="text" name = "toupdate"></input><br>
	Image (only if button is clicked):<br> <!-- this is lowkey terrible!!! -->
	 <input type="file" accept="image/*"> <br>

         <input type="submit" value="submit"><br>
	    <a href="/">Home</a>  
      </form>

</body></html>
