<!--tbh might just be the email, added a password so it would be created automatically/not hard to login first try-->

<html><head></head><body>
      
      <form action="{{ url_for('employ') }}" method="POST">
         <h3>Employ Someone</h3>
         
         Email:<br>
         <input type="text" name="employ"><br>
         
         
         First Name: <br>
         <input type="text" name="first"><br>
         

         Last Name:<br>
         <input type="number" name="last"><br> 

         
         Password: <br>
         <input type="text" name="password"><br>


         <input type="submit" value="submit"><br>
      </form>
<a href="/">Home</a>

</body></html>
